@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    width: auto;
    height: auto;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
}

#root {
    text-align: center;
    /* Center the content horizontally */
}